/**
 * Main stylesheet
 * Author: Alvin Lin (alvin.lin.dev@gmail.com)
 */

@font-face {
  font-family: "Minecrafter";
  src: url('../fonts/minecrafter_reg.ttf');
}

html, body {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  min-height: 760px;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: url('/static/img/bookshelf.png');
  background-size: 64px 64px;
  font-family: "Minecrafter", Verdana, sans-serif;
}

.container {
  text-align: center;
}

.title {
  width: 700px;
  font-size: 50px;
  line-height: 50px;
  margin: 100px auto;
  text-align: center;

  background: rgba(204, 204, 204, .95);

  -webkit-box-shadow: 0px 0px 100px 50px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 100px 50px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 100px 50px rgba(204,204,204,1);
}

.ip {
  width: 550px;
  font-size: 30px;
  line-height: 30px;
  margin: 100px auto;
  text-align: center;

  background: rgba(204, 204, 204, .95);

  -webkit-box-shadow: 0px 0px 100px 50px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 100px 50px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 100px 50px rgba(204,204,204,1);
}

.assets {
}

.assets img {
}
