<!DOCTYPE html>

<html>

  <head>
    <title>Creatopolis</title>
    <link rel="stylesheet" type="text/css"
          href="/static/styles/styles.css" />

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/script.js"></script>
  </head>

  <body>
    <div class="container">

      <h1 class="title">Creatopolis Server</h1>
      
      <h2 class="ip">Join at creatopolis.sytes.net</h2>

      <h2 id="upstate">Server online!</h2>
      <button type='button' id='check_upstate'>Refresh</button>

      <div class="assets">

      </div>
    </div>
  </body>

</html>
